<div class="row">
  <div class="col-md-12">
    <div class="current-image">
      <label>
        Current image
      </label>
      <div class="form-group dotted-border-container text-center">
        <% if @article.image.present? %>
          <%= image_tag(@article.image, id:"img_prev", src:"#", class:"img-responsive") %>
        <% else %>
          <%= image_tag(@article.image, id:"img_prev", src:"#", class:"img-responsive") %>
          <span class="text-center placeholder">
            <i class="fa fa-picture-o img-placeholder" aria-hidden="true"></i>
          </span>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.file_field :image, class:"btn light-green-btn btn-inverse article-image-uploader", type:'file' %>
    </div>
  </div>
</div>
