<section class="related-articles-section">
  <div class="row">
    <div class="col-md-12">
      <h4 class="related-articles-title">Related articles:</h4>
      <%= render @articles %>
    </div>
  </div>
</section>
