<div class="footer">
  <div class="with-less-margin-top with-more-margin-bottom">
    <ul class="list-inline">
      <li class="pg-color small-font">
        ©2017 PlayerGadget
      </li>

      <li class="grey-color smaller-font pull-right">
        <a href="/privacy-policy">Privacy Policy</a>
      </li>

      <li class="grey-color smaller-font pull-right">
        <a href="/terms-of-service">Terms of Service</a>
      </li>
    </ul>
    <div class="text-center">
      <p class="grey-color small-font">
        <em class="darker-grey">powered by</em>
        <a href="https://www.thecodecreators.com">TheCodeCreators</a>
      </p>
    </div>
  </div>
</div>
