<% if display_ads? %>
  <section>
    <!-- pg-responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7227018568767581"
         data-ad-slot="7782687411"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </section>
<% else %>
  <div class="responsive">
  </div>
<% end %>
