<% if display_ads? %>
  <section>
    <!-- pg-skyscrapper -->
    <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-7227018568767581"
       data-ad-slot="4773380696"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </section>
<% else %>
  <div class="skyscrapper">
  </div>
<% end %>
