<span class="facebook-like">
    <a href="https://www.facebook.com/PlayerGadget/" class="twitter-follow-button"  data-action="like"  data-share="false" data-show-faces="false" >
    <i class="fa fa-facebook-square fa-3x fb-icon"  data-href="https://www.facebook.com/PlayerGadget/"></i>
    </a>
</span>

<span class="twitter-follow">
  <a href="https://twitter.com/player_gadget" class="twitter-follow-button">
    <i class="fa fa-twitter-square fa-3x twitter-icon" aria-hidden="true"></i>
  </a>
</span>
