<div class="with-some-margin-top">
  <a href="https://twitter.com/player_gadget" class="twitter-follow-button" data-size="large">
    Follow @player_gadget
  </a>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
