<div class="panel panel-default top-article-panel with-fixed-height article-<%= i + 1 %>">
  <div class="panel-body">
    <p class="title">
      <%= article.title %>
    </p>

    <div class="row date-and-comments">
      <div class="col-sm-9">
        <p class="preview-date">
          <%= article.created_at.strftime('%d %B, %Y') %>
        </p>
      </div>
      <div class="col-sm-3">
        <p class="preview-comments pull-right">
          5 <i class="fa fa-comment-o comment-icon" aria-hidden="true"></i>
        </p>
      </div>
    </div>

  </div>
</div>
