<%= link_to article_path(article) do %>
  <div class="panel panel-default small-article-preview" style="background: url(<%= article.image %>) no-repeat center center; background-size: cover;">
    <div class="small-preview-title">
      <h4><%= article.title %></h4>
    </div>
  </div>
<% end %>
