<%= link_to article_path(@top_right_article) do %>
  <div class="top-article" style="background: url(<%= @top_left_article.image %>); background-size: cover;">
    <div class="top-article-title-and-teaser">
      <h3 class="top-article-title">
        <%= @top_left_article.title %>
      </h3>
      <div class="top-article-teaser">
        <%= @top_left_article.teaser %>
      </div>
    </div>
  </div>
<% end %>
