<div class="main-container">
  <div class="row">
    <div class="main col-md-8">
      <% @articles.each do |article| %>
        <div class="row large-article-row">
          <%= render partial: 'large_article', locals: { article: article } %>
        </div>
      <% end %>

      <div class="row small-article-row">
        <% @older_articles.each do |older_article| %>
          <%= render partial: 'small_article', locals: { older_article: older_article } %>
        <% end %>
      </div>
    </div>
    <div class="side col-md-4">
      <div class="row side-block side-1">
        Advertisement
      </div>
      <div class="row side-block side-2">
        Advertisement
      </div>
      <div class="row side-block side-3">
        Advertisement
      </div>
    </div>
  </div>
</div>
