<div class="container with-padding-top">
  <div class="row top-articles">
    <div class="col-md-8">
      <div class="top-article">
      </div>
    </div>
    <div class="col-md-4">
      <div class="top-article">
      </div>
    </div>
  </div>
</div>

<div class="container with-less-margin-top">
  <div class="row">
    <div class="col-md-12">
      <div class="large-advertisement">
        Advertisement
      </div>
    </div>
  </div>
</div>

<div class="jumbotron my-jumbotron separator">
  <div class="container">
    <div class="row">
      <% @mini_articles.each_with_index do |article, i| %>
        <div class="col-md-3">
          <%= render partial: 'small_article', locals: { article: article, i: i } %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="main-container container">

  <div class="row">

    <div class="col-md-8">
      <% @articles.each do |article| %>
        <%= render partial: 'article', locals: { article: article } %>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="side-block">
          Advertisement
      </div>
      <div class="side-block">
          Advertisement
      </div>
      <div class="side-block">
          Advertisement
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="large-advertisement">
        Advertisement
      </div>
    </div>
  </div>

</div>
