<div class="main-container container article with-padding-top">
  <div class="row top-articles">
    <div class="col-md-12">
      <article class="article-show">
        <%= render 'layouts/terms_of_service_text' %>
      </article>
    </div>
  </div>
</div>

