//.social-buttons {
//  position: absolute;
//  top: 30%;
//  left: -53px;
//  z-index: 99;
//  padding: 0 0 10px;
//  width: 100%;
//  box-sizing: border-box;
//  cursor: pointer;
//  .fb-icon {
//    color: #4367b1;
//  }
//  .twitter-icon {
//    color: #1ea1f3;
//  }
//
//  $size: 30px;
//
//  .social-share-button {
//    .ssb-icon {
//      background-size: $size $size;
//      height: $size;
//      width: $size;
//      display: block;
//      margin-bottom: 10px;
//    }
//  }
//}
//@media(max-width: 768px) {
//  .social-buttons {
//    position: relative;
//    left: 0;
//    .social-share-button {
//      .ssb-icon {
//        display: inline-block;
//      }
//    }
//  }
//  .fb-icon {
//    float: left;
//    margin-right: 10px;
//  }
//}

.twitter-share-button {
  display: inline;
  margin-bottom: -6px;
}

.article {
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.8), rgba(0,0,0,0.9));
  img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.article-show {
  background: white;
  font-size: 1.4em;
  .article-date {
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.related-articles-title {
  color: #A9A9A9;
}

.related-articles-section {
  a {
    cursor: pointer;
    color: #f5f5f5;
    text-decoration: none;
  }
  a:hover {
    color: #2BBCF1;
  };
}

.my-tabpanel {
  margin-top: 20px;
  background: url("/images/bg_pattern.png") repeat left top;
  border-radius: 5px;
  .with-more-padding {
//    padding-left: 15px;
//    padding-right: 15px;
  }
  .tab-content {
    .list-group-item {
      background: url("/images/bg_pattern.png") repeat left top !important;
      color: #A9A9A9;
      border: 1px solid #021921;
      height: 73px;
    }
    .list-group-item:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  .nav-tabs {
    border-bottom: none;
  }
}

//tab color
.nav-tabs {
  text-align: center;
  background-color: #021921;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a {
  color: #A9A9A9;
  border: none;
  border-radius: 0px;
}

.nav-tabs > li > a:hover {
  color: #2bbcf1;
  background-color: #021921;
  border: none;
  float: left;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  color: #2bbcf1;
  background-color: #043040;
  border: none;
}

.side-articles-list {
  .title {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  .my-side-article-panel {
    border-color: #2BBCF1;
    overflow: hidden;
    .panel-body {
      border: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 150px;
      width: 100%;
    	transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
    }

    .panel-body:hover {
      max-height: 150px;
      transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        -ms-transform: scale(1.5);
    }
    .panel-footer {
      border: none;
      position: relative;
      color: #fff;
      padding: 2px;
      h5 {
        font-weight: bold;
        font-size: 16px;
      }
      background: url("/images/bg_pattern.png") repeat left top;
    }
  }
}
.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}

.btn {
  &.btn-tag {
    border: none;
    color: rgba(0,0,0,.6);
    background: rgba(0,0,0,.05);
    a {
      text-decoration: none;
      color: rgba(0,0,0,.6);
    }
  }
}
.tag-title {
  color: white;
}
