.comments-section {
  .icon-avatar-placeholder {
    font-size: 33px;
    color: #24c8ff;
  }

  .with-avatar {
    .user-avatar-placeholder {
      font-size: 23px;
      margin-top: -6px;
    }
    .user-avatar {
      img {
        width: 38px;
        height: 38px;
        max-width: 38px;
        margin-top: -3px;
      }
    }
  }

  @media (max-width: 767px) {
    .with-margin-left {
      margin-left: -15px;
    }
    .user-avatar-placeholder {
      margin-left: -15px;
    }
    .user-avatar {
      img {
        margin-left: -15px;
      }
    }
  }
  .comments-input {
    border-radius: 22px;
    border: 1px solid #dddfe2;
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    overflow: auto;
    resize: none;
  }

  .comment {
    font-size: 16px;
    margin-right: -15px;
  }

  .comment-author {
    color: #4367b1;
    font-weight: bold;
  }

  .grey-text {
    color: #90949c;
    margin-left: 5px;
    font-size: 13px;
    margin-right: 5px;
  }

  .comment-body {
  }

  .actions-row {
    margin-top: -10px;
  }

  .comment-actions {
    .action {
      margin-right: 5px;
    }
    a {
      text-decoration: none;
      color: #2BBCF1 ;
    }
  }

  .reply-link {
    text-decoration: underline;
    cursor: pointer;
    color: #2BBCF1;
    margin-top: 5px;
    font-size: 13px;
    margin-left: 30px;
  }

  .comment-icon {
    margin-left: 17px;
  }

  .with-less-margin-top {
    margin-top: -20px;
  }

  .new-reply-form  {
    margin-top: 10px;
    margin-bottom: 5px;
  }

}
