#cookie-policy {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  color: white;
  font-size: 20px;
  padding: 18px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#cookie-policy.minimized {
  padding: 0px;
  height: 0px;
  overflow: hidden;
}
.btn-transparent {
  color: white;
  background: transparent;
}
.btn-transparent:hover {
  background: #333;
  color: white;
}
.btn-transparent:active {
  color: white;
  background: transparent;
}
.btn-transparent:focus {
  color: white;
  background: transparent;
}
.btn-transparent:active:hover {
  color: white;
  background: transparent;
}
