<div class="panel panel-default articles-panel with-some-margin-top">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">


        <div class="intro">
          <%= @tag.description.html_safe %>
        </div>

      </div>
    </div>
  </div>
</div>
