// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.main-container {
  margin: auto;
  margin-top: 120px;
  max-width: 1080px;
  padding-top: 15px;
  background-image: url("triangles-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.row {
  margin: 0;
  margin-bottom: 15px;
}
.my-jumbotron {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px !important;
  height: 540px;
}
video {
  position: absolute;
  z-index: 0;
  top: -100px;
  left: 0px; /* fixed to left. Replace it by right if you want.*/
  bottom: -100px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: 600px;
  width: 100%;
}

.carousel {
  width: 110%;
  left: -60px;
}
.side {
  .side-block {
    background: white;
    &.side-1 {
      height: 200px;
    }
    &.side-2 {
      height: 300px;
    }
    &.side-3 {
      height: 200px;
    }
  }
}
.article-preview {
  border-radius: 2px;
  background: white;
  box-shadow: 1px 0px 5px black;
  &.medium {
    height: 300px;
  }
  &.small {
    min-height: 200px;
  }
  &.large {
    height: 400px;
  }
  .preview-title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  .preview-date {
    font-size: 10px;
    font-weight: 200;
  }
  .preview-body {
    font-size: 12px;
  }
  .right-preview-area {

  }
  .preview-comments {
    color: #03B9FF;
    font-size: 12px;
    float: right;
  }
}
