// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.pg-nav {
  z-index: 1;
  position: fixed;
  background: linear-gradient(#5D5D5D, #212121);
  width: 100%;
  color: #00708c;
  .pg-logo {
    width: 1080px;
    padding-bottom: 40px;
    img {
      height: 35px;
    }
  }
}
.main-container {
  margin: auto;
  padding-top: 100px;
  max-width: 1080px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5));
}
.main {
  width: 735px;
}
.side {
  margin-top: 15px;
  float: right;
  width: 330px;
  .side-block {
    background: white;
    margin-bottom: 15px;
    &.side-1 {
      height: 200px;
    }
    &.side-2 {
      height: 300px;
    }
    &.side-3 {
      height: 200px;
    }
  }
}
.article-preview {
  border-radius: 2px;
  margin: 15px;
  background: white;
  box-shadow: 1px 0px 5px black;
  &.medium {
    height: 300px;
  }
  &.small {
    min-height: 200px;
  }
  &.large {
    height: 400px;
  }
  .preview-title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  .preview-date {
    font-size: 10px;
    font-weight: 200;
  }
  .preview-body {
    font-size: 12px;
  }
  .right-preview-area {
    float: right;
  }
  .preview-comments {
    color: #03B9FF;
    font-size: 12px;
    float: right;
  }
}
