<div class="toggle-expand text-center">
  <span class="left"><i class="fa fa-arrow-circle-left arrows" aria-hidden="true"></i></span>
  <span class="right"><i class="fa fa-arrow-circle-right arrows" aria-hidden="true"></i></span>
</div>
