<div class="modal fade groups-layout my-group-modal" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header my-header">
        <h4 class="modal-title text-center my-title" id="myModalLabel">
          Sign Up
        </h4>
      </div>
      <div class="modal-body">
        <%= render 'layouts/sign_up_form' %>
      </div>
    </div>
  </div>
</div>
