<div class="container-fluid with-less-margin-top">
  <div class="row">
    <div class="col-md-12">
      <div class="large-advertisement">
        <br>
        <%= @user.username %> profile.
      </div>
      <%= link_to omniauth_authorize_path(resource_name, 'steam') do %>
      <div class="btn-lg btn-block btn-social btn-steam btn-custom2">
        <i class="fa fa-steam fa-lg fa-fw"></i> Log In With Steam
      </div>
      <% end %>
    </div>
  </div>
</div>
